* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #f4d04e;
}
.container {
  width: 384px;
  height: 522px;
  border-radius: 20px;
  background-color: #ffffff;
  margin: auto;
  margin-top: 120px;
  padding: 24px;
  box-sizing: border-box;
  box-shadow: 8px 8px 0px 0px #000;
}
.blog-image {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  background-color: #f4d04e;
}
.blog-image img {
  width: 100%;
  height: 200px;
}
.content {
  margin-top: 12px;
  padding-top: 12px;
}
.category {
  width: 82px;
  height: 29px;
  background-color: #f4d04e;
  border-radius: 4px;
  margin-bottom: 12px;
  padding: 4px 12px;
}
.text-learning {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  text-align: center;
  line-height: 29px;
}
.text-date {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 12px;
}
.title {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 30px;
  margin-bottom: 12px;
}
.description {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  margin-bottom: 9px;
  color: #6b6b6b;
}
.author {
  display: flex;
  width: 129px;
  height: 32px;
}
.author img {
  width: 32px;
  height: 32px;
  margin-right: 12px;
}
.author-name {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 14px;
  color: #111111;
  text-align: center;
  line-height: 32px;
}
