* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f4d04e;
}

.container {
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  width: 303px;
  height: 501px;
  margin: auto;
  margin-top: 100px;
  padding: 24px;
}

.blog_image {
  width: 279px;
  height: 200px;
  border-radius: 10px;
  background-color: #f4d04e;
  margin: auto;
}

.content {
    margin-top: 24px;
    height: 173px;
    width: 279px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
}

.category{
    background-color: #f4d04e;
    border-radius: 4px;
    width: 73px;
    height: 26px;
}

.text_category{
    text-align: center;
    line-height: 26px;
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 12px;
    margin-bottom: 12px;
    color: #111111;
}

.text_publish{
    margin-top: 12px;
    margin-bottom: 12px;
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    color: #111111;
}   

.text_tittle{
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 20px;
    margin-bottom: 12px;
    color: #111111;
}
.text_description{
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    color: #6B6B6B;
}

.author{
    width: 129px;
    height: 32px;
}
.user_img{
    background-image: url(userpic.png);
    width: 32px;
    height: 32px;
    display: inline-block;   /* BIKIN SEBARIS */
    vertical-align: middle;  
}
.author_name{
    display: inline-block;
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 12px;
    vertical-align: middle;
    margin-left: 6px;   
}
