.navbar{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-item-middle{
    display: flex;
    align-items: center;
    gap: 8px;
}
.nav-item-end{
    display: flex;
    gap: 8px;
}
.kotak{
    border: 1px solid red;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrap {
    display: flex;
    gap: 16px;
    flex-wrap: wrap; /* Untuk menrunkan kalau sudah tidak muat di device */
}
.wrap >div {
    background-color: blue;
    width: 200px;
    height: 200px;
}