* {
  margin: 0;
  padding: 0;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.kotak-1 {
  border: 3px solid black;
  height: 300px;
  text-align: center;
}
.kotak-2 {
  border: 3px solid rgb(223, 176, 176);
  height: 300px;
  text-align: center;
}
/* Mobile: Kotak 1 Atas Kotak 2 Bawah */
@media (min-width: 320px) and (max-width: 480px) {
  .container {
    grid-template-columns: 1fr;
  }
}
/* TAB: Kotak 1 Atas Kotak 2 Bawah */
@media (min-width: 481px) and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
}

/* Desktop: Kotak 1 Atas Kotak 2 Bawah */
@media (min-width: 769px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}
