.container{
    border: 3px solid rgb(124, 156, 124);
    background-color: chocolate;
    text-align: center;
}

/* Tablets */
@media (min-widht: 481px) and (max-width:768px){
    .container{
        background-color: beige;
    }
}
/* Desktop */
@media (min-widht: 769px) {
    .container{
        background-color: rgb(196, 196, 45);
    }
}